Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-security.insecureAPI.*,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  bugprone-assert-side-effect,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-infinite-loop,
  bugprone-macro-repeated-side-effects,
  bugprone-misplaced-operator-in-strlen-in-alloc,
  bugprone-misplaced-pointer-arithmetic-in-alloc,
  bugprone-misplaced-widening-cast,
  bugprone-not-null-terminated-result,
  bugprone-signal-handler,
  bugprone-sizeof-expression,
  bugprone-suspicious-memory-comparison,
  bugprone-suspicious-memset-usage,
  bugprone-swapped-arguments,
  bugprone-undefined-memory-manipulation,
  bugprone-use-after-move,
  cert-err34-c,
  cert-msc50-cpp,
  cert-msc51-cpp,
  performance-noexcept-move-constructor
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*radio/src/(thirdparty|translations|tests)/).*radio/src/.*'
FormatStyle: none
